.profile__name {
  margin: 0;
  width: 294px;
  height: 39px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  align-self: flex-end;
  box-sizing: border-box;
  vertical-align: text-bottom;
}
